name: Build LaTeX Document

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up TeX Live
      uses: TeX-Live/setup-texlive-action@v3
      with:
        packages: |
          scheme-basic
          graphicx

    - name: Set up Bazel
      uses: bazel-contrib/setup-bazel@0.16.0
      with:
        bazelisk-cache: true
        disk-cache: ${{ github.workflow }}
        repository-cache: true

    - name: Build PDF
      run: bazel build //:main

    - name: Upload PDF
      uses: actions/upload-artifact@v4
      with:
        name: main.pdf
        path: bazel-bin/main.pdf

    - name: Tagged Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v2
      with:
        files: bazel-bin/main.pdf
        generate_release_notes: true

    - name: Nightly Release
      if: github.ref == 'refs/heads/main'
      uses: softprops/action-gh-release@v2
      with:
        tag_name: nightly
        name: "Nightly Build"
        body: "This is a pre-release build from the main branch."
        prerelease: true
        files: bazel-bin/main.pdf
